{% extends 'layout.html.twig' %}

{% block title %}
    Items list
{% endblock %}

{% block content %}
    <section>
        <h1>Items</h1>
        <ul>
            {% for item in items %}
            <a href="item/{{ item.id }}"><li>{{ item.title }}</li></a>
            {% endfor %}
        </ul>
        <a href="categories">View all the categories</a>
    </section>
{% endblock %}