{% extends 'layout.html.twig' %}
{% block title %}
    Add an item
{% endblock %}

{% block content %}
    <section>
        <h1 class="text-center">AAjouter une Catégorie</h1>
        <form action="" method="post">
            <label for="category_name">Name</label>
            <input id="category_name" type="text" name="name">
            <button class="btn btn-primary" type="submit">Valider</button>
        </form>
        <a class="badge badge-secondary" href="/categories">Retour à la liste</a>
    </section>
{% endblock %}
